@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50 text-neutral-900 font-mono antialiased;
  margin: 0;
  padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-neutral-100;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 hover:bg-neutral-500;
  border-radius: 4px;
}

::selection {
  @apply bg-neutral-800 text-white;
}

a {
  @apply transition-colors duration-200;
}
